body{
    text-align: center;
    z-index: 10;
}


.links {
    float: right;
    color: aqua;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;

}
.menu {
text-align:right;
    list-style: none;
    font-family: 'Dancing Script', cursive;
    position: fixed;
    top: 10px;
    right: 30px;
    z-index: 11;
    cursor: pointer;
    background-color: white;
    width: 100%;
}
#my-carousel1{
background-color: red;
}
#my-carousel1 img{
    height: 300px;
    margin-top: 35px;
}
.carousel-inner p{ 
margin-bottom: 15px;
    margin-top: 15px;
    color: white;
    font-size: 20px;
}
